.cat-img {
    width: 75vw;
    aspect-ratio: 1/.75;
    margin: auto;
}

.single-cat-container {
    width: 75vw;
    aspect-ratio: 1/.75;
    margin: auto;
}

.cat-quote {
    margin:auto;
    text-align: center;
}

#button-container {
    margin: auto;
    text-align: center;
}

h1 {
    margin: auto;
    text-align: center;
}