/* .cat-card {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  text-align: center;
}

.cat-card img {
  width: 100%;
  border-radius: 10px;
}

.nice-cat {
  border: 3px solid #66ccff;
}

.mean-cat {
  border: 3px solid #ff6666;
}

.badass-cat {
  border: 3px solid #66ff66;
} */